# dismiss binaries
build/

# Dismiss python cached stuff and venv
__pycache__/
.ipynb_checkpoints/
analyzer/.ipynb_checkpoints/
analyzer/venv/
logs/

# Exclude debug and complementary files
.env
*.sh
*.txt

# Do not include docker-compose volumes and configurations 
docker-compose.yml
ipfs-cid-hoarder/

# Ignore the common IDE configuration files
.vscode
.idea

