# dismiss binaries
build/

# dismiss data folder including the databases
data/*

# Dismiss python cached stuff and venv
__pycache__/
.ipynb_checkpoints/
analyzer/.ipynb_checkpoints/
analyzer/venv/
logs/

# Igonore the .vscode configuration
.vscode


# TODO: update to make file and build folder
dbs